body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: black;
    color: white;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.explore-button {
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    border: 0px;
}

.hero-background {
    background-color: rgba(158, 144, 107, 0.986);
    background-blend-mode: lighten;
    background-image: url(gentrification-images/melyna-cote-architecture.jpg);
    background-size: cover;
    background-position: 0 -100px;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
}

.hero-content {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
    
