body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: black;
    color: white;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.explore-button {
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    border: 0px;
}

.hero-section {
    background-color: rgba(192, 181, 153, 0.952);
    background-blend-mode: lighten;
    background-image: url(gentrification-images/melyna-cote-architecture.jpg);
    background-size: cover;
    background-position: 0 -100px;
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 70px;
}

.hero-content {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.oakland {
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: underline;
}

.hero-term,
.hero-definition {
    font-size: 30px;
}

p {
    margin: 0;
}

.family-house {
    height: 400px;
    width: 500px;
}

.quote-section {
    background-color: black;
    color: white;
    font-size: 25px;
}

.quote-content {
    padding: 90px 50px;
}

.quote-text {
    text-align: center;
    display: flex;
    justify-content: center;
}

.quote-author {
    padding-right: 90px;
    display: flex;
    justify-content: flex-end;
}

.information-section {
    background-color: rgb(192, 181, 153, 0.952);
    background-color: rgba(192, 181, 153, 0.952);
    background-blend-mode: lighten;
    background-image: url(gentrification-images/skyscraper-image.jpg);
    background-size: cover;
    background-position: 0 -100px;
    background-repeat: no-repeat;
}

.information-content {
    padding: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.information-img-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.information-image {
    height: 400px;
    width: 300px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.information-image-two {
    height: 350px;
    width: 300px;
}

.information-text {
    min-width: 500px;
    background-color: white;
    padding: 50px;
    border: 10px double black;
}

.information-title {
    font-size: 30px;
    margin-top: 0;
}

.information-list {
    font-size: 25px;
}